[submodule ".registry"]
	path = .registry
	url = https://github.com/statisticshealtheconomics/statisticshealtheconomics.r-universe.dev
	branch = HEAD
[submodule "blendR"]
	path = blendR
	url = https://github.com/statisticshealtheconomics/blendR
[submodule "outstandR"]
	path = outstandR
	url = https://github.com/statisticshealtheconomics/outstandR
[submodule "simcovariates"]
	path = simcovariates
	url = https://github.com/n8thangreen/simcovariates
	registered = false
